/* Basic styling for the page */
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
}

html {
    background-color: rgb(212, 204, 204);
}

/* HEADER */

.header-block {
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 265px;
    width: 100%;
}

.header-text {
    color: #fff;
    display: inline-block;
    font-family: sans-serif;
    margin: 5vh 10vw;
    max-height: 230px;
}

.header-text h1, h4{
    font-size: 7vw;
    margin: 0;
}

nav {
    align-items: center;
    background-color: #222;
    color: #fff;
    display: flex;
    position: sticky;
    justify-content: space-around;
    margin: 0px;
    padding: 10px;
    top: 0px;
}

nav a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: #555;
}

h2 {
    text-align: center;
}

section p {
    text-align: center;
}

/* Responsive design for the header */
/*  W   x-390:  nav bar is too big
    W   1200-x:  text is too small AND the picture is fucked
    H   x-550:  nav bar is too big  */

@media screen and (min-width: 690px) {
    .header-block {
        background-image: url('../img/my-pic-horizontal.jpg');
    }
}

@media screen and (min-width: 1251px) {
    .header-block {
        min-height: 450px;
    }

    .header-text h1, h4 {
        font-size: 87.5px;
    }
}

@media screen and (max-width: 689px) {
    .header-block {
        background-image: url('../img/my-pic.jpg');
    }
}

@media screen and (max-width: 390px){
    nav a {
        font-size: 14px;
        padding: 0;
        text-align: center;
    }
}

@media  screen and (max-height: 550px) {   
    nav a {
        font-size: 14px;
        padding: 0;
        text-align: center;
    }
}



/* CONTENT */
/* Journey */

.job-entry {
    background:rgba(255,255,255, 0.6);  
    border: 5px solid black;  
    display: flex;  
    margin: 20px auto;
    max-width: 700px;
}

.job-entry-left {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 5px;
    min-width: 100px;
    padding: 10px;
}

.job-entry-left img {
    height: 100%;
    max-width: 150px;
    object-fit: contain;
    width: 100%;
}

.job-entry-right {
    border: 3px solid black;
    height: 100%;
    margin: 5px;
    min-width: 200px;
    width: 75%;
}

.job-entry-right p {
    text-align: left;
}

/* About me */

.about-me {
    background:rgba(255,255,255, 0.6);  
    border: 5px solid black; 
    display: flex;  
    justify-content: center;
    margin: 20px auto;
    max-width: 700px;
}

/* Projects */

.projects {
    background:rgba(255,255,255, 0.6);  
    border: 5px solid black; 
    display: flex;  
    justify-content: center;
    margin: 20px auto;
    max-width: 700px;
}


/* Contact */
.contact-form {
    align-items: center; /* Center the form elements horizontally */
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    margin: 20px auto; /* Center-align the form horizontally */
    max-width: 700px;
    padding: 20px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.input-field {
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    padding: 10px;
}

.textarea-group {
    margin-bottom: 10px;
    width: 100%;
}

.message-field {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
}

.submit-button {
    background-color: #555;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #777;
}

/* FOOTER */

footer {
    background-color: #555;
    color: #fff;
    height: 30px;
}
