/* Basic styling for the page */
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADER */

.header-block {
    background-image: url('../img/my-pic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: inline-block;
    margin: 0px;
    min-height: 265px;
    width: 100%;
}

.header-inner-block {
    color: #fff;
    font-family: sans-serif;
    margin: 12% 0 0 8%;
}

.header-inner-block h1, h4{
    margin: 0;
}

nav {
    align-items: center;
    background-color: #222;
    color: #fff;
    display: flex;
    position: sticky;
    justify-content: space-around;
    margin: 0px;
    padding: 10px;
    top: 0px;
}

nav a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: #555;
}

h2 {
    text-align: center;
}

section p {
    text-align: center;
}

/* Responsive design for the header */
/*  W   x-390:  nav bar is too big
    W   720-x:  text is too small AND the picture is
    H   x-500:  nav bar is too big  */

/* @media screen and (max-width:400px) {
    .header-inner-block h1 {
        font-size: medium;
    }

    .header-inner-block h4{
        font-size: medium;
    }
} */

@media  screen and (max-height: 550px) {   
    nav a {
        font-size: 14px;
        padding: 0;
    }
}



/* CONTENT */
/* Journey */

.job-entry {
    background:rgba(255,255,255, 0.6);  
    border: 5px solid black;  
    display: flex;  
    margin: 20px auto;
    max-width: 700px;
}

.job-entry-left {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 5px;
    min-width: 100px;
    padding: 10px;
}

.job-entry-left img {
    height: 100%;
    max-width: 150px;
    object-fit: contain;
    width: 100%;
}

.job-entry-right {
    border: 3px solid black;
    height: 100%;
    margin: 5px;
    min-width: 200px;
    width: 75%;
}

.job-entry-right p {
    text-align: left;
}

/* About me */

.about-me {
    background:rgba(255,255,255, 0.6);  
    border: 5px solid black; 
    display: flex;  
    justify-content: center;
    margin: 20px auto;
    max-width: 700px;
}

/* Projects */

.projects {
    background:rgba(255,255,255, 0.6);  
    border: 5px solid black; 
    display: flex;  
    justify-content: center;
    margin: 20px auto;
    max-width: 700px;
}


/* Contact */
.contact-form {
    align-items: center; /* Center the form elements horizontally */
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    margin: 20px auto; /* Center-align the form horizontally */
    max-width: 700px;
    padding: 20px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.input-field {
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    padding: 10px;
}

.textarea-group {
    margin-bottom: 10px;
    width: 100%;
}

.message-field {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
}

.submit-button {
    background-color: #555;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #777;
}

/* FOOTER */

footer {
    background-color: #555;
    color: #fff;
    height: 30px;
}
